.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-header {
  text-align: center;
}
.form-group-container {
  justify-content: center;
  display: flex;
}

.form-control,
.btn-primary {
  display: inline-block;
  margin: 0 15px;
}
.form-control {
  width: 100px;
}

.row {
  margin: 25px;
  justify-content: center;
}

.btn {
  vertical-align: top;
}
