<div class="row">
  <app-frame *ngFor="let frame of frames" [frameData]="frame"> </app-frame>
</div>

<div class="progress">
  <div
    class="progress-bar progress-bar-striped progress-bar-animated"
    role="progressbar"
    aria-valuenow="0"
    aria-valuemin="0"
    aria-valuemax="10"
    [style.width.%]="frames.length * 10"
  ></div>
</div>
<h4>{{ message }}</h4>
<div class="form-group-container">
  <form *ngIf="!isGameOver" class="form-group" [formGroup]="userInputs" (ngSubmit)="onSubmit()">
    <select class="form-control" formControlName="pin" type="number">
      <option disabled>Select Pin</option>
      <option *ngFor="let pin of options" [ngValue]="pin">
        {{ pin }}
      </option>
    </select>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  <div *ngIf="isGameOver" class="form-group-container">
    <button class="btn btn-success" (click)="initGame()">Play again</button>
  </div>
</div>

